*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  background-color: #FEFEFE; }

h1, h2, h3, h4, h5, h6, li, p, a {
  font-family: "PT Sans", sans-serif; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.2rem; }

p, li, a {
  font-size: 1.8rem; }

ul {
  list-style: none; }

a:link, a:visited {
  text-decoration: none;
  color: #285943;
  font-weight: 600;
  font-size: inherit; }

a:hover, a:active {
  color: #183629; }

.header {
  min-height: 10vh; }

.navbar {
  padding: 3rem 5%;
  display: flex; }
  .navbar .logolink {
    color: inherit; }
  .navbar__title {
    font-size: 2.4rem;
    color: #F68657;
    margin-right: 10%; }
    .navbar__title-icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1rem; }
  .navbar__menu {
    display: flex; }
    .navbar__menu-item:not(:last-child) {
      margin-right: 4rem; }
    .navbar__menu-item {
      text-transform: uppercase;
      color: #285943;
      border-bottom: 2px solid transparent;
      transition: all .3s; }
      .navbar__menu-item:hover {
        border-bottom: 2px solid #F68657; }
      .navbar__menu-item a {
        font-weight: normal; }
    .navbar__menu .active {
      border-bottom: 2px solid #F68657; }

.hero {
  height: 90vh;
  background-color: #8CD790;
  display: flex; }
  .hero__left {
    width: 60%;
    padding: 10vh 5%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .hero__left-title {
      margin-top: 10vh;
      font-size: 6rem;
      color: #FEFEFE; }
      .hero__left-title span {
        color: #f9d423; }
  .hero__right {
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, #285943cc, #8CD790c5), url(../img/hero.png); }

.features {
  padding: 8rem 5%;
  display: flex;
  justify-content: space-between; }
  .features__box {
    width: 30%;
    border: .2px solid #777;
    box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.5); }
    .features__box-img {
      height: 20rem; }
    .features__box .info {
      padding: 3rem; }
    .features__box-title {
      text-align: center;
      color: #285943;
      margin-bottom: 2rem; }
    .features__box-desc {
      text-align: center; }
  .features__box:nth-child(1) .features__box-img {
    background-image: url(../img/frontbox1.jpg);
    background-position: center;
    background-size: cover; }
  .features__box:nth-child(2) .features__box-img {
    background-image: url(../img/frontbox2.jpg);
    background-position: center;
    background-size: cover; }
  .features__box:nth-child(3) .features__box-img {
    background-image: url(../img/frontbox3.jpg);
    background-position: center;
    background-size: cover; }

.footer {
  padding: 3rem;
  background-color: #285943;
  color: #FEFEFE; }
  .footer__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem; }
    .footer__menu a {
      color: inherit;
      font-weight: normal;
      transition: all .3s; }
      .footer__menu a:hover {
        color: #F68657; }
    .footer__menu-item:not(:last-child) {
      margin-right: 2rem; }
  .footer .socialfollow {
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem; }
  .footer .socialmedia {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem; }
    .footer .socialmedia .icon:nth-child(1) {
      color: #517fa4; }
    .footer .socialmedia .icon:nth-child(2) {
      color: #3b5998; }
    .footer .socialmedia .icon:nth-child(3) {
      color: #38A1F3; }
    .footer .socialmedia .icon:nth-child(4) {
      color: #BC081C; }
    .footer .socialmedia .icon {
      cursor: pointer;
      font-size: 3rem;
      transition: all .3s; }
      .footer .socialmedia .icon:hover {
        color: #F68657; }
    .footer .socialmedia .icon:not(:last-child) {
      margin-right: 2rem; }
  .footer .copy {
    text-align: center; }
    .footer .copy span {
      color: #F68657; }

.newswrapper {
  display: flex;
  justify-content: space-between;
  padding: 5rem 8rem; }

.mainnews {
  width: 70%; }
  .mainnews .frontmainnews {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to right, #85858583, #80808081), url(../img/frontnews.jpg);
    padding: 4rem;
    margin-bottom: 4rem; }
    .mainnews .frontmainnews .info {
      margin-top: 30vh;
      color: rgba(254, 254, 254, 0.8);
      font-size: 1.6rem;
      margin-bottom: 2rem; }
    .mainnews .frontmainnews .title {
      font-size: 3.5rem;
      color: #FEFEFE; }
  .mainnews .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .mainnews .wrapper .mainnews__box {
      width: 40%;
      min-width: 35rem;
      border: .5px solid #999;
      box-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.4);
      margin-bottom: 4rem; }
      .mainnews .wrapper .mainnews__box-topinfo {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between; }
        .mainnews .wrapper .mainnews__box-topinfo .subject, .mainnews .wrapper .mainnews__box-topinfo .date {
          font-size: 1.4rem;
          color: rgba(51, 51, 51, 0.9); }
      .mainnews .wrapper .mainnews__box-img {
        width: 100%;
        height: 15rem;
        background-position: center;
        background-size: cover; }
      .mainnews .wrapper .mainnews__box-info {
        padding: 2rem; }
        .mainnews .wrapper .mainnews__box-info .title {
          font-size: 2rem;
          margin-bottom: 3rem; }
        .mainnews .wrapper .mainnews__box-info .author {
          font-size: 1.6rem;
          margin-bottom: 2rem; }
        .mainnews .wrapper .mainnews__box-info .readmore {
          font-size: 1.8rem;
          font-weight: bold;
          color: #F68657; }
    .mainnews .wrapper .mainnews__box:nth-child(1) .mainnews__box-img {
      background-image: url(../img/frontbox1.jpg); }
    .mainnews .wrapper .mainnews__box:nth-child(2) .mainnews__box-img {
      background-image: url(../img/frontbox2.jpg); }
    .mainnews .wrapper .mainnews__box:nth-child(3) .mainnews__box-img {
      background-image: url(../img/frontbox3.jpg); }
    .mainnews .wrapper .mainnews__box:nth-child(4) .mainnews__box-img {
      background-image: url(../img/frontbox1.jpg); }

.newsfeed {
  width: 20%; }
  .newsfeed__title {
    color: #F68657; }
  .newsfeed__feed {
    margin-top: 1.5rem; }
  .newsfeed__post {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
    .newsfeed__post-img {
      width: 8rem;
      height: 8rem; }
    .newsfeed__post .info {
      margin-left: 1.5rem; }
      .newsfeed__post .info .title {
        font-size: 1.8rem;
        margin-bottom: 1rem; }
      .newsfeed__post .info .date {
        font-size: 1.6rem;
        color: #333;
        margin-bottom: 1rem; }
      .newsfeed__post .info .readmore {
        background-color: #8CD790;
        padding: 3px 6px;
        color: #FEFEFE;
        font-size: 1.2rem; }
  .newsfeed__post:not(:last-child) {
    border-bottom: 0.5px solid rgba(85, 85, 85, 0.5); }
