.aboutmain {
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    padding: 10vh 10%;
    position: relative;
    // overflow: hidden;
    
    .circleone, .circletwo {
        z-index: -5;
        position: absolute;
        border: .5px solid rgba(#888, .3);
        width: 60rem;
        height: 60rem;
        border-radius: 50%;
    }

    .circleone {
        top: 5vh;
        left: -10%;
    }

    .circletwo {
        top: -20vh;
        right: -10%;
    }

    &__title {
        font-size: 3rem;
        color: $primary-color;
        width: 20%;
    }

    .wrapper {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__box {
        background-color: $white;
        width: 48%;
        padding: 2rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: .5px solid rgba(#333, .5);

        &-title {
            color: $primary-color;
            font-size: 2.2rem;
            margin-bottom: 1.5rem;
        }

        &-text:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    
    &__box:nth-child(1) {
        border-top: 5px solid $lightgreen;
    }

    &__box:nth-child(2) {
        border-top: 5px solid $secondary-color;
    }


}