.benefits {
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 10vh 10%;

    @include mediaquery(650px) {
      flex-direction: column;
    }

    @include mediaquery(500px) {
      padding: 5vh 5%;
    }

    &__title {
        font-size: 3.2rem;
        color: $primary-color;
        width: 20%;

        @include mediaquery(650px) {
          width: 100%;
          text-align: center;
          margin-bottom: 3rem;
        }
    }

    .wrapper {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mediaquery(900px) {
          width: 70%;
        }

        @include mediaquery(650px) {
          width: 100%;
        }
    }

    &__box {
        width: 45%;
        padding: 2rem;
        box-shadow: 1px 2px 3px rgba(#777, .4);
        margin-bottom: 3rem;
        display: flex;
        // justify-content: space-between;

        @include mediaquery(650px) {
            width: 100%;
            min-width: 20rem;
          }

        &-square {
            min-width: 2rem;
            height: 2rem;
            border: .5px solid rgba(#999, .5);
            margin-right: 2rem;
        }


        &-text {
            font-size: 1.6rem;
        }
    }

    &__box:nth-child(odd) {
        .benefits__box-square {
            background-color: $lightgreen;
        }
    }

    &__box:nth-child(even) {
        .benefits__box-square {
            background-color: $secondary-color;
        }
    }
}