.features {
    padding: 8rem 5%;
    display: flex;
    justify-content: space-between;

    @include mediaquery(770px) {
      flex-direction: column;
      align-items: center;
    }

    &__box {
        width: 30%;
        border: .2px solid #777;
        box-shadow: 1px 1.5px 2px rgba(#DDD, .5);
        text-align: center;

        @include mediaquery(770px) {
          width: 80%;
          margin-bottom: 3rem;
        }
        
        @include mediaquery(500px) {
          width: 95%;
        }

        &-img {
            height: 20rem;
        }

        .info {
            padding: 3rem;
        }

        &-title {
            text-align: center;
            color: $primary-color;
            margin-bottom: 2rem;
        }

        &-desc {
            margin-bottom: 2.5rem;
        }

        &-btn {
            background-color: $lightgreen;
            color: $white !important;
            font-weight: normal !important;
            font-size: 1.8rem !important;
            padding: 1rem 2rem;
            transition: all .3s;

            &:hover {
                background-color: darken($lightgreen, 15%);
            }
        }
        
    }

    &__box:nth-child(1) {
        .features__box-img {
            background-image: url(../img/frontbox1.jpg);
            background-position: center;
            background-size: cover;
        }
    }

    &__box:nth-child(2) {
        .features__box-img {
            background-image: url(../img/frontbox2.jpg);
            background-position: center;
            background-size: cover;
        }
    }
    &__box:nth-child(3) {
        .features__box-img {
            background-image: url(../img/frontbox3.jpg);
            background-position: center;
            background-size: cover;
        }
    }
}