.header {
    min-height: 10vh;
}

.navbar {
    padding: 3rem 5%;
    display: flex;
    z-index: -10;
    background-color: transparent;

    .logolink {
        color: inherit;
    }

    &__title {
        font-size: 2.4rem;
        color: $secondary-color;
        margin-right: 10%;

        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 1rem;
        }
    }

    &__menu {
        display: flex;

        &-item:not(:last-child) {
            margin-right: 4rem;
        }

        &-item {
            text-transform: uppercase;
            color: $primary-color;
            border-bottom: 2px solid transparent;
            transition: all .3s;
            
            &:hover {
                border-bottom: 2px solid $secondary-color;
            }

            a {
                font-weight: normal;
            }
        }

        .active {
            border-bottom: 2px solid $secondary-color;
        }
    }
}