.newswrapper {
    display: flex;
    justify-content: space-between;
    padding: 5rem 8rem;

    @include mediaquery(950px) {
      padding: 5rem 4rem;
    }

    @include mediaquery(770px) {
      flex-direction: column;
    }

    @include mediaquery(500px) {
      padding: 3rem 2rem;
    }

    @include mediaquery(450px) {
      padding: 3rem 1rem;
    }
}

.mainnews {
    width: 70%;

    @include mediaquery(770px) {
      width: 95%;
      margin: 0 auto;
    }

    @include mediaquery(450px) {
      width: 100%;
    }

    .frontmainnews {
        width: 100%;
        min-height: 50vh;
        background-image: linear-gradient(to right, #85858583, #80808081), url(../img/frontnews.jpg);
        padding: 4rem;
        margin-bottom: 4rem;

        .info {
            margin-top: 30vh;
            color: rgba($white, .8);
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }

        .title {
            font-size: 3.5rem;
            color: $white;
        }

        .link {
            color: $white;

            &:hover {
                color: darken($white, 10%);
            }
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mediaquery(890px) {
          justify-content: center;
        }

        .mainnews {

            &__box {
                width: 40%;
                min-width: 25rem;
                border: .5px solid #999;
                box-shadow: .5px 1px 1.5px rgba(0, 0, 0, .4);
                margin-bottom: 4rem;

                @include mediaquery(890px) {
                  width: 60%;
                }

                @include mediaquery(500px) {
                  width: 95%;
                }

                &-topinfo {
                    padding: 1.5rem;
                    display: flex;
                    justify-content: space-between;

                    .subject, .date {
                        font-size: 1.4rem;
                        color: rgba(#333, .9);
                    }
                }

                &-img {
                    width: 100%;
                    height: 15rem;
                    background-position: center;
                    background-size: cover;
                }

                &-info {
                    padding: 2rem;
                    position: relative;

                    .title {
                        font-size: 2rem;
                        margin-bottom: 3rem;
                    }
                    
                    .author {
                        font-size: 1.6rem;
                        margin-bottom: 5rem;
                    }

                    .readmore {
                        position: absolute;
                        left: 2rem;
                        bottom: 2rem;
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: $secondary-color;
                        transition: all .3s;

                        &:hover {
                            font-size: 2.2rem;
                        }
                    }


                }
            }

            &__box:nth-child(1) {
                .mainnews__box-img {
                    background-image: url(../img/frontbox1.jpg);
                }
            }

            &__box:nth-child(2) {
                .mainnews__box-img {
                    background-image: url(../img/frontbox2.jpg);
                }
            }

            &__box:nth-child(3) {
                .mainnews__box-img {
                    background-image: url(../img/frontbox3.jpg);
                }
            }

            &__box:nth-child(4) {
                .mainnews__box-img {
                    background-image: url(../img/frontbox1.jpg);
                }
            }

            
        }
    }
}

.newsfeed {
    width: 20%;

    @include mediaquery(1175px) {
      width: 25%;
    }

    @include mediaquery(770px) {
      width: 95%;
    }

    &__title {
        color: $secondary-color;
    }

    &__feed {
        margin-top: 1.5rem;

    }
    
    &__post {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;

        @include mediaquery(770px) {
          justify-content: flex-start;
        }

        &-img {
            width: 8rem;
            height: 8rem;
        }

        .info {
            margin-left: 1.5rem;
            
            .title {
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }

            .date {
                font-size: 1.6rem;
                color: #333;
                margin-bottom: 1rem;
            }

            .readmore {
                background-color: $lightgreen;
                padding: 3px 6px;
                color: $white;
                font-size: 1.2rem;
                transition: all .3s;

                &:hover {
                    background-color: darken($lightgreen, 15%);
                }
            }
        }
    }

    &__post:not(:last-child) {
        border-bottom: .5px solid rgba(#555, .5);
    }
}